
form {
    width: 30rem;
}

.login-content {
    height: 100vh;
}
a {
    margin-top: 5rem;
}
form{
    width: 40rem;
    height: 60vh;
    background-color: aliceblue;
    border: 3px solid lightgray;
    padding: 1rem;
    border-radius:15px; 
    opacity: .7;
}